# ----------------------------------------------
# ------------[Arquivos de ambiente]------------
# ----------------------------------------------

.env
.env.test

# ----------------------------------------------
# ------------[Cache e dependências]------------
# ----------------------------------------------

/var/
/vendor/

# ----------------------------------------------
# -----------[symfony/phpunit-bridge]-----------
# ----------------------------------------------

.phpunit
.phpunit.result.cache
/phpunit.xml

# ----------------------------------------------
# -------[lexik/jwt-authentication-bundle]------
# ----------------------------------------------

/config/jwt/*.pem

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
